@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Ejemplo 1</h1>
<h2>Ejemplo 2</h2>
<h3>Ejemplo 3</h3>
<h4>Ejemplo 4</h4>

<b>ejemplo texto en negrita.....</b> <br/>
<a target="_blank" href="https://www.cba24n.com.ar/">Ir al diario....</a>

<ul>
    <li>Uno</li>
    <li>Dos</li>
    <li>Tres</li>
</ul>

<table>
    <tr> <!-- Esto es un comentario.... ESTO ES UNA FILA!!!! -->
        <th>Columna 1</th>
        <th>Columna 2</th>
        <th>Columna 3</th>
    </tr>
    <tr>
        <td>Texto 1</td><td>Texto 2</td><td>Texto 3</td>   
    </tr>
    <tr>
        <td>Texto 4</td>
        <td>Texto 5</td>
        <td>Texto 6</td>
    </tr>
</table>
<input type="text" value="Ejemplo de texto"/>
<input type="number" value="0"/>
<input type="password" value="0"/>

<select>
    <option>Ejemplo 1</option>
    <option Selected>Ejemplo 2</option>
    <option>Ejemplo 3</option>
</select> <br />

Soy check!!! <input type="checkbox"/> <br />
Soy un radio <input type="radio" name="mismoradio"/>
<input type="radio" name="mismoradio" checked/>
<input type="radio" name="mismoradio"/>
<textarea cols="10" rows="5">TExto muy largo y de michas lineas</textarea> 

