@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Formulario DISCOTECA</h1>
    
    <br />

    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">Nombre Artista</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Los Wawancó" />
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Año</label>
            <input type="year"  />
        </div>

        <div class="form-group">
            <label for="exampleFormControlSelect2">Example multiple select</label>
            <input />
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <input />
        </div>
    </form>
</div>
