@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>A PAPÁ MONO!! @ViewBag.TextoSaludos</h1>
<br />
<b>@ViewBag.Edad</b>
<br />
<h3>@ViewData["nombre"]</h3>
